<!DOCTYPE html>
<html>
    <head>
        <title>Meal Scraper</title>
        <link rel="stylesheet" href="{{ url_for('static',filename='styles/index.css') }}" type= "text/css">
    </head>
    <body>
        <div>
            <form action="{{url_for('FindingMeal')}}" method="POST" class="header">
                <h2>Search for a meal:</h2>
                <input type="text" placeholder="Super Tasty Meal" name="meal">
                <input type="submit" value="Search"></input>
            </form>
            <div class="content">
                {%for i in range(0, len)%}
                    <form action="{{url_for('ScrapeSite')}}" method="POST" name="search-form{{timeArr[i]}}" hidden>
                        <input type="text" value="https://www.bbcgoodfood.com/{{linkArr[i]}}" name="chosen">
                    </form>
                    <div class="results_box" onclick="document.forms['search-form{{timeArr[i]}}'].submit()">
                        <img src="{{imageArr[i]}}" class="meal_image">
                        <h4>{{arr[i]}}</h4>
                        <h5>{{timeArr[i]}}</h5>
                    </div>
                {%endfor%}
            </div>
        </div>
    </body>
</html>