<!DOCTYPE html>
<html>
    <head>
        <title>Meal Scraper</title>
        <link rel="stylesheet" href="{{ url_for('static',filename='styles/recipe.css') }}" type= "text/css">
    </head>
    <body>
        <div>
            <ul>
                <h4>Ingredients</h4>
                {%for i in range(0, ingLen)%}
                    <li>{{ingArr[i]}}</li>
                {%endfor%}
            </ul>
            <ol>
                <h4>Method</h4>
                {%for i in range(0, methLen)%}
                    <li>{{methodArr[i]}}</li>
                {%endfor%}
            </ol>
        </div>
    </body>
</html>