body{
    background-color: #FAF9F6;
}

.chosen_image{
    width: 300px;
    height: 300px;
    border-radius: .5rem;
    margin: 1.5rem;
    margin-left: 1.5rem;
}

.title{
    margin-left: 1.5rem;
}

ul, ol{
    padding: 2rem;
    padding-left: 1.5rem;
    padding-right: 1.5rem;
    width: 100vw;
}

li{
    margin-bottom: .3rem;
}

ol li{
    margin-bottom: 1rem;
}

.img_title{
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.main{
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-wrap: wrap;
    flex-direction: row;

    padding: 1.5rem;
}

.ing_list{
    max-width: 33vw;
    padding: 1rem;
    justify-self: flex-end;
}
.method_list{
    max-width: 50vw;
    padding: 1rem;
    justify-self: flex-start;
}