body{
    background-color: #FAF9F6;
}
ul, ol{
    padding: 2rem;
    padding-left: 3rem;
    padding-right: 3rem;
    width: 100vw;
}

li{
    margin-bottom: .3rem;
}

ol li{
    margin-bottom: 1rem;
}

.main{
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-wrap: wrap;
    flex-direction: row;

    padding: 1.5rem;
}

.ing_list{
    max-width: 33vw;
    padding: 1rem;
    justify-self: flex-end;
}
.method_list{
    max-width: 50vw;
    padding: 1rem;
    justify-self: flex-start;
}